<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <p><%= pin.name %></p>
  </div>
  <div class="panel-body">
    <p>Latitude: <%= pin.lat %></p>
    <p>Longitude: <%= pin.lon %></p>
  </div>
</div>
</div>
