

<%= render @user %>

<h4>Where <%= @user.name %> has been:</h4>
<%= render @user.pins %>

<script>google.maps.event.addDomListener(window, 'load', initialize);</script>

<div style='width: 800px;'>
  <div id="map-canvas" style='width: 800px; height: 400px;'></div>
</div>

